<%- include('../partials/_header.ejs') %>

<body class="bg-gray-950 text-gray-50 font-sans">
    
    <div class="fixed inset-0 -z-10 h-full w-full">
        <div class="absolute top-0 left-0 h-96 w-96 bg-purple-500/40 rounded-full blur-[150px] opacity-30"></div>
        <div class="absolute bottom-0 right-0 h-80 w-80 bg-blue-500/40 rounded-full blur-[120px] opacity-40"></div>
        <div class="absolute bottom-1/4 left-1/4 h-72 w-72 bg-pink-500/30 rounded-full blur-[100px] opacity-30"></div>
    </div>
    
    <div class="flex min-h-screen w-full relative z-10">
        <%- include('../partials/_sidebar.ejs') %>
    
        
        <div class="flex-1 flex flex-col">
            <% if(!currentPath.startsWith('/admin')) { %>
                <main class="flex-grow p-6 sm:p-8">
                    <div class="max-w-7xl mx-auto">
                        <%- body %>
                    </div>
                </main>
            <% } else { %>
                <main class="flex-grow p-6 sm:p-8">
                    <%- body %>
                </main>
                
            <% } %>  
        </div>
    </div>

    <%- include('../partials/_footer.ejs') %>
</body>
</html>